<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Employer: ' + employer.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
    <p th:text="${'Name: ' + employer.name}"></p>
    <p th:text="${'Location: ' + employer.location}"></p>
    <p> Jobs:
    <ul>
        <th:block th:each="job : ${jobs}">
        <li>
            <a th:href="@{'/view/' + ${job.getId()}}" th:text="${job.getName()}"></a>
        </li>
        </th:block>
    </ul>

    </p>

</div>


</body>
</html>